html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #333;
  font: 500 16px/1.6em Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


icon {
  font-family: fontawesome;
}

.panel {
  width: 400px;
  padding: 1em;
  background: #ecf0f1;
  border-top: 4px solid #c0392b;
}
.panel h1 {
  color: #c0392b;
  margin: .4em 0 .7em;
  text-align: center;
}
.panel h1 icon {
  margin: 0 .5em 0 -.5em;
}
.panel .tryAgain {
  text-align: center;
}
.panel .tryAgain button {
  margin: 0;
  padding: .5em 1em;
  border: 0;
  background: #27ae60;
  color: white;
  outline: 0;
}
.panel .tryAgain button:hover {
  background: #1e8449;
}
